<link rel="stylesheet" href="/css/banner.css">
<body>
<section id="banner">
  <div class="banner">
    <ul class="clearfix">
      <li><img src="/img/bannerImg/banner1.png" alt="배너1"></li>
      <li><img src="/img/bannerImg/banner2.png" alt="배너2"></li>
      <li><img src="/img/bannerImg/banner3.png" alt="배너3"></li>
      <li><img src="/img/bannerImg/banner4.png" alt="배너4"></li>
      <li><img src="/img/bannerImg/banner5.png" alt="배너5"></li>
    </ul>
  </div>
</section><!--banner-->
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="/js/BannerSlide.js"></script><!--배너 슬라이드 스크립트-->

</body>
