<!-- <link rel="stylesheet" href="/css/mainHeader.css">-->
<link rel="stylesheet" href="/css/contents.css">

<body>
<section id="contents">
  <div class="c1">
    <h5>코딩이 어려우신 분? 😭 여기 모여라 ~ 🥰 차근차근 같이 해요! <br>#초보 #입문 #비기너</h5>
    <ul class="clearfix">
      <li><a href="/studyList"><img src="/img/contentsImg/JAVA.png" alt="java img" width="200px" height="160"></a></li>
      <li><a href="/studyList"><img src="/img/contentsImg/ANDROID.png" alt="android img" width="200px" height="160"></a></li>
      <li><a href="/studyList"><img src="/img/contentsImg/AI.png" alt="ai img" width="200px" height="160"></a></li>
      <li><a href="/studyList"><img src="/img/contentsImg/javascript.png" alt="java script img" width="200px" height="160"></a></li>
      <li><a href="/studyList"><img src="/img/contentsImg/Software.png" alt="software img" width="200px" height="160"></a></li>
    </ul>
  </div>
  <div class="c2">
    <h5>코코아와 함께 성장하고 있어요. 🤎 <br>#중수 #미들클래스 #인터미디에이트</h5>
    <ul class="clearfix">
      <li><a href="/studyList"><img src="/img/contentsImg/TEST.png" alt="software img" width="200px" height="160"></a></li>
      <li><a href="/studyList"><img src="/img/contentsImg/Programmer.png" alt="Programmer img" width="200px" height="160"></a></li>
      <li><a href="/studyList"><img src="/img/contentsImg/GITHUB.png" alt="github img" width="200px" height="160"></a></li>
      <li><a href="/studyList"><img src="/img/contentsImg/JAVA2.png" alt="java2 img" width="200px" height="160"></a></li>
      <li><a href="/studyList"><img src="/img/contentsImg/C.png" alt="C img" width="200px" height="160"></a></li>
    </ul>
  </div>
  <div class="c3">
    <h5>코코아의 코딩 대장들 모여라 ~ 😎 이거 들으면 된다는데 안들어 ?<br>#고수 #엑스퍼트 #마스터</h5>
    <ul class="clearfix">
      <li><a href="/studyList"><img src="/img/contentsImg/HTML.png" alt="html img" width="252px" height="160"></a></li>
      <li><a href="/studyList"><img src="/img/contentsImg/JQUERY.png" alt="jquery img" width="252px" height="160"></a></li>
      <li><a href="/studyList"><img src="/img/contentsImg/JSP.png" alt="jsp img" width="252px" height="160"></a></li>
      <li><a href="/studyList"><img src="/img/contentsImg/ORACLE.png" alt="oracle img" width="252px" height="160"></a></li>
    </ul>
  </div>
</section><!--컨텐츠 끝-->

</body>
