<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cocoa_login</title>
    <link rel="icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/myPageHeader.css">
</head>
<body>
<header id="header1" class="clearfix">
    <div class="logo">
        <a href="/loginHome"><img src="/img/logo.png" alt="로고이미지"></a>
    </div>
    <a href="/logout" class="sighOut" style="color: #ffffff">로그아웃</a>
    <ul>
        <li><a href="/cart" onclick="location.href='cart';"><img src="/img/headerImg/MyPocket.png" alt="카트_이미지"></a>
        </li>
        <li><a href="/myPage" onclick="location.href='myPage';"><img src="/img/headerImg/MyPage.png"
                                                                     alt="마이페이지_이미지"></a></li>
    </ul>
</header>
</body>
</html>