@CHARSET "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/nanumbarungothic.css);

html{overflow:scorll;}
html, body, div, h1, h2, a, form, table, caption, thead, tbody, tr, th, td, submit {
    margin:0; outline:0; border:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent;
}
body {
    font-size:0.875em; line-height:1.5; color:#666; -webkit-text-size-adjust:none; min-width:320px;
    font-family:'NanumGothic','나눔고딕',dotum, "Helvetica Neue", Helvetica, Verdana, Arial, Sans-Serief;
}
h1, h2, h3 {font-size: 1.5em;}
p{margin:0; padding:0;}
ul{margin:0;}
a:link, a:visited {text-decoration:none; color: #656565;}
input{vertical-align:middle;}
input:focus {outline:0;}
caption {display:none; width:0; height:0; margin-top:-1px; overflow:hidden; visibility:hidden; font-size:0; line-height:0;}


/* 모달 스타일 */
.modal {
    display: none; /* 초기에는 모달 숨김 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7); /* 배경은 반투명 검은색 */
}

.modal-content {
    background-color: white;
    margin: 10% auto; /* 모달을 중앙에 정렬 */
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

/* 모달 닫기 버튼 스타일 */
.close {
    color: #888;
    float: right;
    font-size: 15px;
    font-weight: bold;
    margin-top: 12px;
    margin-right: 10px;
}

.reply{
    color: red;
}