@charset "utf-8";
a{
    color: black;
    text-decoration: none;
}
img{
    display: block;
}
address{
    font-style: normal;
}
.clearfix::after, .clearfix::before{
    content: "";
    display: block;
    clear: both;
}
li{
    list-style: none;
}

#wrap{
    margin: 0 auto;
    width: 1200px;
}

#highBanner{
    margin-top: 50px;
    background-color: #A47C6D;
    color: white;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

#nav{
    float: left;
    margin-left: 18px;
    width: 232px;
    height: 1030px;
}

#nav .subnav{
    margin-top: 15px;
    color: #59473F;
    font-weight: bold;
    height: 71px;
    line-height: 71px;
}

#nav >ul >li{
    height: 71px;
    line-height: 71px;
    font-weight: normal;
}

#nav >ul >li:hover{
    font-weight: bold;
}

#content{
    border-left: #A47C6D 1px solid;
    float: right;
    width: 950px;
    height: 780px;
    padding: 56px 0 0 50px;
}
b{
    font-size: 28px;
    color: #59473F;
}
.abutton{
    font-size: 13px;
    float: right;
    background-color: #A47C6D;
    color: white;
    width: 98px;
    height: 20px;
    border-radius: 5px;
    text-align: center;
    line-height: 20px;
    margin-right: 48px;
}
.gooddiv{
    width: 883px;
    margin-top: 20px;
    border-top: #59473F 1px solid;
    padding: 20px;
}
.rowdata{
    float: left;
    margin-right: 20px;
}

.rowdata:nth-child(3n){
    margin-right: 0;
}
.check{
    float: left;
}

.goodImg{
    margin-bottom: 5px;
}
.goodImg > img{
    float: left;
}
.gname{
    margin-bottom: 10px;
}