@charset "utf-8";

.recli{
    list-style: none;
    padding-top: 35px;
}
#container{
    width: 1920px;
    height: 300px;
    /*background-color: #A47C6D;*/
    background-image: url("/img/jsonbannerimg.png");
    display: block;
    margin-left: -360px;
    margin-top: 50px;
}

/* 보여줄 구간의 높이와 넓이 설정 */
#slideShow{
    width: 800px;
    height: 200px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    /*리스트 형식으로 이미지를 일렬로
    정렬할 것이기 때문에, 800px 밖으로 튀어 나간 이미지들은
    hidden으로 숨겨줘야됨*/

}

#box{
    width: 800px;
    height: 200px;
    /*border-radius: 20px;*/
    /*background-color: white;*/
    transform: translate(0px, 50px);
    box-shadow: 5px 5px 4px #765C52;
    /*background-image: url("/img/jsonbox.png");*/
    background-image: url("/img/jsonlongbox.png");
}

.recbutton{
    font-size: 15px;
    border-radius: 10px;
    background-color: #A47C6D;
    color: white;
    padding: 7px 15px;
    border:none;
    border: white;
    border-style: solid;
    border-width: 0.5px;/*상하좌우*/
    box-shadow: 2px 2px 2px #765C52;
}

.slides{
    position: absolute;
    left: 0;
    top: 0;
    width: 2500px; /* 슬라이드할 사진과 마진 총 넓이 */
    transition: left 0.5s ease-out;
    /*ease-out: 처음에는 느렸다가 점점 빨라짐*/

}

/* 첫 번째 슬라이드 가운데에 정렬하기위해
첫번째 슬라이드만 margin-left조정 */
.slides li:first-child{
    margin-left: 50px;
}

/* 슬라이드들 옆으로 정렬 */
.slides li:not(:last-child){
    float: left;
    margin-left: 50px;
    margin-right: 50px;
}
.slides li:last-child{
    float: left;
    margin-left: 50px;
}

.slides li{
    float: left;
    width: 300px;
    height: 150px;
    left: 20px;
}

.number{
    text-align: right;
    font-weight: bold;
    color: #59473F;
}

.name {
    width: 300px;
    font-size: 20px;
    font-weight: bold;

}

.title {
    width: 300px;
    font-size: 15px;
}
.ment{
    font-size: 20px;
    font-weight: bold;
    color: #A47C6D;
    text-shadow: 2px 2px 2px white;
}

.controller span{
    position:absolute;
    background-color: transparent;
    color: black;
    text-align: center;
    border-radius: 50%;
    padding: 10px 20px;
    top: 50%;
    font-size: 1.3em;
    cursor: pointer;
}

/* 이전, 다음 화살표에 마우스 커서가 올라가 있을때 */
.controller span:hover{
    background-color: rgba(128, 128, 128, 0.11);
}

.prev{
    left: 10px;
}

/* 이전 화살표에 마우스 커서가 올라가 있을때 
이전 화살표가 살짝 왼쪽으로 이동하는 효과*/
.prev:hover{
    transform: translateX(-10px);
}

.next{
    right: 50px;
}

/* 다음 화살표에 마우스 커서가 올라가 있을때 
이전 화살표가 살짝 오른쪽으로 이동하는 효과*/
.next:hover{
    transform: translateX(10px);
}