@charset "utf-8";
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    padding: 0;
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'NEXON Lv1 Gothic OTF';
    box-sizing: border-box;
}

li{
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

img {
    display: block;
}
.clearfix::after, .clearfix::before{
    content: "";
    display: block;
    clear: both;
}
body{
    width: 1920px;
    font-family: 'NEXON Lv1 Gothic OTF';
}

#wrap{
    width: 1200px;
}

#header {
    position: relative;
    height: 200px;
    border-bottom: #A47C6D 1px solid; /*추가*/
}

#header > ul {
    float: right;
    position: absolute;
    bottom: 35px;
    right: 45px;
}

#header > ul > li {
    float: left;
}
.reading {
    padding-top: 140px;
    cursor: pointer;
    float: left;
    z-index: 2;
    position: absolute;
}

.reading>a{
    margin: 0;
    color: #333;
}

.logo {
    display: block;
    width: 975px;
    float: left;
    padding-left: 150px;
    /*margin-left: 22.5px; !*추가*!*/
}

.sighOut {
    position: absolute;
    float: right;
    background-color: #A47C6D;
    color: white;
    font-weight: bold;
    font-size: 13px;
    width: 75px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 5px;
    top: 20px;
    right: 25px;
    z-index: 5;
    text-align: center;
}

.LoginBox {

    width: 155px;
    float: left;
    margin-top: 160px;

}

.LButton{
    background: #A47C6D;
    color: white;
    text-decoration:none;
    width: 75px;
    height: 30px;
    text-align:center;
    border-radius:5px;
    float: left;
    cursor: pointer;
    font-size: 14px;


}

/*모달창 시작*/
#modalOpenButton,#modalOpenButton1 {
    cursor: pointer;
}
#modalCloseButton,#modalCloseButton1,#modalCloseButtonId,#modalCloseButtonPw,#modalCloseButtonPwck{
    cursor: pointer;
    float: right;
    border: none;
    background-color: #ffffff;
    font-size: 25px;

}

#modalContent {
    border-radius: 20px;
    position: absolute;
    background-color: #ffffff;
    width: 600px;
    height: 550px;
    padding: 15px;

}

#modalContent1 {
    border-radius: 20px;
    position: absolute;
    background-color: #ffffff;
    width: 600px;
    height: 800px;
    padding: 15px;

}


#modalContainer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;

}

#modalContainer1 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;

}


#LoginImg {
    width: 100%;
    height: 200px;
    text-align: center;
}
#LoginImg1{
    width: 100%;
    height: 200px;
    text-align: center;
}




#modalContainer.hidden {
    display: none;
}
#modalContainer1.hidden {
    display: none;
}


.ID, .PW{
    text-align: center;

}
.IDT{
    width: 350px;
    height: 50px;
    border-radius: 15px;
}

.PWT{
    margin-top: 25px;
    width: 350px;
    height: 50px;
    border-radius: 15px;
}
#buttonLogin{

    text-align: center;
}
#btnLogin{
    margin-top: 30px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    background-color: #A47C6D;
    color: #ffffff;
}

#TextBox{
    width: 400px;
    display: flex;
    margin-top: 20px;
}
/*<!---로그인 찾기-->*/
/*<!---아이디 찾기-->*/

#modalContentId {
    border-radius: 20px;
    position: absolute;
    background-color: #ffffff;
    width: 600px;
    height: 550px;
    padding: 15px;

}

#modalContainerId {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;

}

#LoginImg2{
    width: 100%;
    height: 200px;
    text-align: center;
}
#modalContainerId.hidden{
    display: none;
}
#buttonId{

    text-align: center;
}
#btnId{
    margin-top: 30px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    background-color: #A47C6D;
    color: #ffffff;
}

#TextBox1{
    width: 400px;
    display: flex;
    margin-top: 20px;
}

/*<!---아이디 찾기-->*/

/*<!---비밀번호 찾기-->*/
#modalContentPw {
    border-radius: 20px;
    position: absolute;
    background-color: #ffffff;
    width: 600px;
    height: 550px;
    padding: 15px;

}

#modalContainerPw{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;

}

#LoginImg3{
    width: 100%;
    height: 200px;
    text-align: center;
}
#modalContainerPw.hidden{
    display: none;
}
#buttonPw{

    text-align: center;
}
#btnPw{
    margin-top: 30px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    background-color: #A47C6D;
    color: #ffffff;
}

#TextBox2{
    width: 400px;
    display: flex;
    margin-top: 20px;
}




/*<!---비밀번호 찾기-->*/

/*<!---비밀번호 재설정-->*/


#modalContentPwck {
    border-radius: 20px;
    position: absolute;
    background-color: #ffffff;
    width: 600px;
    height: 550px;
    padding: 15px;

}

#modalContainerPwck{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;

}

#LoginImg4{
    width: 100%;
    height: 200px;
    text-align: center;
}
#modalContainerPwck.hidden{
    display: none;
}
#buttonPwck{

    text-align: center;
}
#btnPwck{
    margin-top: 30px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    background-color: #A47C6D;
    color: #ffffff;
}







/*<!---비밀번호 재설정 완료-->*/


.l{
    width: 1px;
    height: 15px;
    background-color: #333333;
    margin-top: 5px;
}

#signup{
    background-color: #A47C6D;
    width: 400px;
    height: 50px;
    color: #ffffff;
}
#signup>input{
    background-color: #A47C6D;
    padding-top: 20px;
    border: 0px;
}


/*모달창 끝*/




.space {
    width: 5px;
    height: 30px;
    display: inline-block;
    float: left;
}

#header2{
    width: 100%;
    height: 250px;
    position: relative;
    margin: 0 auto;
}

.menuBox{
    width: 150px;
    height: 50px;
    float: left;
    border:1px solid;
    line-height : 50px;
    text-align:center;
    color: #A47C6D;
    cursor: pointer;
    position: relative;
    font-size: 16px;
}
.menuBox:hover{
    background-color: #A47C6D;

    color: #fff;
    text-decoration: none;
}





.submenu{
    width: 150px;
    height: 200px;
    position: absolute;
    left: 150px;
    top: 50px;
    display: none;
}
.submenuBox{
    width: 150px;
    height: 50px;
    float: left;
    border:1px solid;
    line-height : 50px;
    text-align:center;
    color: #A47C6D;
    cursor: pointer;
    left: 150px;
    z-index: 3;
    font-size: 16px;
}

.submenuBox:hover{
    background-color: #C89265;
    color: #ffffff;
}

#headerMoll{
    width: 300px;
    height: 250px;
    float: left;
    z-index: 2;
    position: absolute;
}

#box0{
    width: 300px;
    height: 50px;
    border:1px solid;
    text-align: center;
    float: left;
}
#TextS{
    margin-top: 5px;
}
#KaKao{
    width: 200px;
    margin-top: 10px;
    display: flex;


}

#headerLeft{
    width: 150px;
    height: 200px;
    float: left;
}

#headerLeft>div:hover{
    text-decoration: underline #59473F;
}



#search{
    width: 270px;
    height: 35px;
    background:url("../img/sebutton.png") no-repeat right;
}
.centerS{

    width: 1200px;
    height: 250px;
    float: left;
    text-align: center;
}
.cocoa{
    margin-top: 65px;
    color: #59473F;
    font-size: 32px;

}
.marginT20{
    margin-top: 20px;
}
.centerSe{

    width: 600px;
    height: 60px;
    /*background: url("../img/sebuttonBig.png") no-repeat right;*/
    font-size: 20px;
    margin-left: 70px;
}

#center > div:focus {
    background-color: #A47C6D;
}

.findId{
    position: absolute;
    background-color: white;
    z-index: 7;
    right: 25px;
    top: 50px;
    border: 1px solid #A47C6D;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    line-height: 1.5;
}