<!DOCTYPE html>
<html lang="ko">
<link rel="stylesheet" href="/css/managerHome.css">
<head>
    <meta charset="UTF-8">
    <title>CoCoA 관리자페이지</title>
    <link rel="icon" href="/img/favicon.png">
</head>
<body>
<div id="wrap">
    <div class="loginBox">
        <img src="/img/logo.png" alt="로고이미지"><br>
        <b class="managerLabel">코코아 관리자용 페이지입니다<br>외부 유출되지 않도록 주의 바랍니다.</b>
        <div class="managerLink">
            <a href="/csboard/openBoardList.admin">고객문의</a>
            <a href="/managerCoumteo">코움터</a>
            <a href="/cocoafriendList.do">회원관리</a>
        </div>
    </div>
</div>
</body>
</html>